body{
  background: url(../img/azul.jpg);
  background-size: 100% 100%;
}


#menu{
  background: #2A4EF0;
}

#menu ul li:hover{
  background: #000000;
}

.adoptar{
  background: #000000;
  color: white;
}

button{
  background: #000000;
  color: white;
}

form input[type="submit"]{
	background: #000000;
	border: 1px solid #000000;
  color: white;
}

footer{
	background: #000000;

}
